/* General Styles */
body, h1, p, a, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; /* Full viewport height */
    position: relative;
}

.hero img {
    width: 100%; /* Full width */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container */
}

.hero h1 {
    font-size: 2.5em;
    color: #fff; /* White text color */
    margin: 20px 0;
}

.hero p {
    font-size: 1.2em;
    color: #fff; /* White text color */
    margin: 10px 0;
}

.explore-button {
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}
